{% extends "base.html.twig" %}

{% block title %}Welcome to bounty hunter!{% endblock %}
{% block body %}
    <p>Добро пожаловать в Bounty hunter</p>
    <p><a href="/bounty/get">Получить подарок</a></p>
{% endblock %}
