{% extends "base.html.twig" %}

{% block title %}Congratulations !{% endblock %}
{% block body %}
    <p>Поздравляем !</p>
    <p>Ваш приз:</p>
    <p>{{bounty}}</p>

    {{ include('bounty/refuse.html.twig', sandboxed = true) }}
    {{ include('bounty/covert.html.twig', sandboxed = true) }}
{% endblock %}